/*****************************************************************************
* Basic Typography
*****************************************************************************/

html, body {
  background-color: #fafafa;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight: normal;
  margin: 1.142857143rem 0;
}
h2 small {
  font-size: 1.928571429rem;
}
h3 {
  font-size: 1.6875rem;
  font-weight: 300;
}

/*****************************************************************************
* Top Bar Styles
*****************************************************************************/
#top-bar.top-bar{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #3F51B5;
}
#top-bar .name span {
  font-size: 1.428571429rem;
  margin-top: auto;
}
.top-bar.expanded .title-area {
  background-color: #3F51B5;
}
.top-bar-section .has-form {
  background-color: #3F51B5;
}

/*****************************************************************************
* Event Styles
*****************************************************************************/
.event.row {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
  margin: 1em;
}
.row {
  max-width:none;
}
.event-title {
  background-color: #c5cae9;
  padding: 1rem;
}

.event-title-text {
  margin: 0;
}

.event-body {
  margin-top: 1em;
}

.address span {
  display: block;
}

.info {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: .5rem;
}
.info a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #3f51b5;
  height: 36px;
  min-width: 64px;
  padding: 0.5em;
  line-height: 36px;
  text-align: center;
  border-radius: 2px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1) 0s, background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  text-transform: uppercase;
}
.info a:hover {
  background-color: rgba(158, 158, 158, 0.2);
}
.info a:active, .info a:focus {
  outline: none;
}
